body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: navy;
    margin-left: 20px;
}

.personName {

}

.gameBoardLog {
        height: 300px; 
        overflow-y:auto;
        width:215px;
        float:left;
        position:relative;
        margin-left:-5px;
        font-size: 11px;
}


table {
	margin: 0 auto;
	border-collapse: collapse;
	background: silver;
}
td {
    /*
        width: 60px; height: 60px;text-align:center;border: 1px solid silver;
        width: 50px; height: 50px;text-align:center;border: 1px solid silver; Average size;
        width: 40px; height: 40px;text-align:center;border: 1px solid silver;
}
    */
        width: 50px; height: 50px;text-align:center;border: 1px solid silver;
}

/* ADD FOR CHESS BOARD
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
        background-color: white;
}
*/

.personHolder {
    width: 48px; height: 48px;
}

.mia{ 
    background: url(/images-character/mia.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.naomi{ 
    background-image: url(/images-character/naomi.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.monster-banana{ 
    background-image: url(/images-character/monster-banana.gif); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.monster-baby{ 
    background-image: url(/images-character/monster-baby.gif); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.monster-mount1{ 
    background-image: url(/images-character/monster-mount1.gif); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.monster-mount1.fE{ 
    transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; float: none;
}


.monster-mount2{ 
    background-image: url(/images-character/monster-mount3.png); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.monster-mount2.fE{ 
    transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; float: none;
}


.monster-dino{ 
    background-image: url(/images-character/monster-dino.gif); 
    background-repeat: no-repeat;
    background-size: 100%;
}


.treasure{ 
    background-image: url(/images-character/box_pink_treasure.png); 
    background-repeat: no-repeat;
    background-size: 100%;
}

.object-campfire{ 
    background-image: url(/images-object/object-campfire.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}


.object-wall1{ 
    background-image: url(/images-object/object-wall1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


.tile-tree1{ 
    /* Tree added as an object */
    background-image: url(/images-tile/tree1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.tile-tree2{ 
    /* Tree added as an object */
    background-image: url(/images-tile/tree2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}




/*
    Background Scenary moveable
*/
td.tile-grass1{ 
    background-image: url(/images-tile/grass1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}


td.tile-tree1{ 
    background-image: url(/images-tile/tree1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

td.tile-tree2{ 
    background-image: url(/images-tile/tree1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}    


/*
    Background Scenary - Dessert
*/
td.tile-sand1{ 
    background-image: url(/images-tile/sand1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}






.modal-header {
    background-color: #00a4e3;
    border-bottom: medium none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}
.modal-header .close {
    color: #ffffff;
    font-size: 30px;
    margin-top: 0;
    opacity: 0.5;
    text-shadow: 0 1px 0 #000000;
}
.modal-header .close:hover {
    color: #ffffff;
    opacity: 1;
    text-shadow: 0 1px 0 #000000;
}
.modal-title {
    color: #ffffff;
}
.modal-body p:last-child {
    margin-bottom: 0;
}

h1 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
}
h2 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
}
h3 {
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5em;
}


img.incopy-graphic {
    margin: 20px 0;
    width: 100%;
}